# Pandas

#Series

In [59]:
import numpy as np

In [58]:
import pandas as pd

#series represent one dimensional capable of holding data of any type (integer, string, float, python objects, etc.).
#pd.Series(data,index)

#lets create four different python objects

In [6]:
labels = ['a','b','c']
my_data = [15,23,25]
arr = np.array(my_data)
d = {'a':15, 'b':23, 'c':25}

In [11]:
pd.Series(data = my_data)

0    15
1    23
2    25
dtype: int64

In [16]:
pd.Series(my_data,labels)

a    15
b    23
c    25
dtype: int64

#Series can hold a variety of python objects such as array and dictionaries.

In [20]:
pd.Series(arr,labels)

a    15
b    23
c    25
dtype: int32

In [18]:
pd.Series(d)

a    15
b    23
c    25
dtype: int64

In [19]:
labels

['a', 'b', 'c']

#Accessing elements of a Pandas Series

In [46]:
ser1 = pd.Series([1,2,3,4,5],['kana','uzui','sincere','zza1','chaewon'])

#labels index      data points
#kana               1
#uzui               2
#sincere            3
#zza1               4
#chaewon            5

In [44]:
ser1

kana       1
uzui       2
sincere    3
zza1       4
chaewon    5
dtype: int64

In [26]:
ser2 = pd.Series([1,2,3,4,],['b-komachi','kana','ruby','mem'])

In [48]:
ser2

b-komachi    1
kana         2
ruby         3
mem          4
dtype: int64

#ser1['actual index it can be either a string or a number']
#it depends on what data types is your index

In [32]:
ser1['zza1']

4

In [33]:
ser2['b-komachi']

1

In [52]:
ser1 + ser2

b-komachi    NaN
chaewon      NaN
kana         3.0
mem          NaN
ruby         NaN
sincere      NaN
uzui         NaN
zza1         NaN
dtype: float64

#if there is no match value it will return NaN
#in pandas if we are performing operations in pandas series our integers will converted into float

In [40]:
ser3 = pd.Series(data=labels)

In [41]:
ser3

0    a
1    b
2    c
dtype: object

In [42]:
ser3[1]

'b'